body, html{
    height: 100%;
    margin:0;
}

.background { 
    height: 87vh;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#wrapper { 
  background-image: url('./../bilder/elden-ring_01.jpg'); 
}

  

header{
  background-color: #020D0C;
  color: #ffffff;
  margin: 0;
}

footer{
  background-color: #020D0C;
  padding: 15px;
}

#nav-placeholder{
  margin-bottom: -1px;
}

.content {
  margin: 0 auto;
  color:#ffffff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24pt;
}

.innerWindow{
  display: flex;
  justify-content: center;
}


/* Damit alle Links nicht scheiße aussehen.*/ 
a {
  color: #ffffff;
  text-decoration: none;
}